<section class="section-header-content">
  <div class="section-content">
    <h1>Kits DIY</h1>
  </div>
</section>

<section class="section-standard section-padding">
  <div class="section-content">
    <h3 class="souligne droite">COMING SOON</h3>
    <p>Retrouvez très bientôt ici tous nos kits DIY pour continuer la pratique chez vous !</p>
  <p>N'hésitez pas à vous inscrire à notre newsletter en pied de page pour être sûr de ne rien louper de notre actualité.</p>
    <p><center><img src="https://media.giphy.com/media/IgFhZ07P8ElYrnKXgs/giphy.gif" class="visuel" width="500px"/></center></p>
  </div>
</section>

<script type="text/javascript">
$('.menu-item-kit').addClass('current');
</script>
