<section class="section-header-content">
	<div class="section-content">
		<h1>Mentions Légales & CGU-CGV</h1>
	</div>
</section>



<section class="section-standard section-padding">
	<div class="section-content">
		<h3 class="souligne droite">Mentions Légales</h3>
<p>En vertu de l’article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, il est précisé aux utilisateurs du site mesateliersdiy.fr l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi </p>

<p>Propriétaire : <em>Mes ateliers DIY</em>, Sarah Delorme, 194 Boulevard Emile Delmas 17000 LA ROCHELLE, EIRL enregistrée au RCS La Rochelle sous le numéro 53861285400041 </p>

<p>Responsable de publication : Sarah Delorme – <a href="mailto:hello@mesateliersdiy.fr">hello@mesateliersdiy.fr</a><br>
	Le responsable de publication est une personne physique ou une personne morale.</p>

<p>Hébergeur : OVH – 2 rue Kellermann – 59100 Roubaix – France</p>
</p>		
	</div>
</section>

<section class="section-standard section-padding">
	<div class="section-content">
		<h3 class="souligne droite">Conditions Générales d'Utilisation &
			<br>Conditions Générales de Vente</h3>
		<h4>1. Objet du contrat</h4>
<p>Les présentes Conditions Générales ont pour objet d’encadrer les conditions contractuelles applicables à l’utilisation de la Plateforme <em>Mes ateliers DIY</em> par l’Utilisateur et à la mise en relation entre l’Utilisateur et le Créateur.</p>
	   
		<h4>2. Prestations de <i><em>Mes ateliers DIY</em></i> </h4>
<p><em>Mes ateliers DIY</em> (ci-après « l’Entreprise ») a pour objet de mettre en relations des créateurs / makers / animateurs proposant des ateliers créatifs (ci-après les « Créateurs ») et des personnes souhaitant bénéficier du savoir-faire de ces derniers (ci-après les « Utilisateurs »). </p>
<p>Le Créateur désigne la personne physique ou morale, exerçant son activité à titre professionnel et proposant des Ateliers sur la Plateforme. Il inscrit sous le statut de micro-entreprise ou tout autre statut immatriculé au Registre du Commerce et des Sociétés (RCS). </p>
<p>L’Entreprise permet la conclusion de contrats de prestation de service entre des professionnels et des consommateurs, elle met ainsi à la disposition des Créateurs l'espace nécessaire sur la Plateforme <em>Mes ateliers DIY</em>, pour la communication des informations préalables à la fourniture d'un service.  </p>
<p>Pour tous les ateliers, <em>Mes ateliers DIY</em> gère le processus d’achat et de paiement du billet au nom du créateur. <em>Mes ateliers DIY</em> agit ainsi en tant que représentant commercial dans la vente d’ateliers et perçoit une commission de service.</p>
		
		<h4>3. Création et gestion du compte personnel </h4>
<p>L’accès à la Plateforme <em>Mes ateliers DIY</em> par les Utilisateurs et la consultation des différents Ateliers disponibles n’est pas conditionnée à l’inscription de l’Utilisateur. L’utilisation des Services de la Plateforme <em>Mes ateliers DIY</em>, en revanche, est conditionnée à la création d’un Compte par l’Utilisateur.</p>
<p>L’ouverture d’un Compte donne accès à un espace personnel permettant à l’Utilisateur de gérer ses réservations ainsi que ses informations personnelles.</p>
<p>L’Utilisateur s’engage à fournir des informations véritables et sincères le concernant. L’Utilisateur doit en outre procéder à une vérification régulière de ses données afin de s’assurer de leur exactitude.</p>
<p>Une fois la création de Compte validée, l’Entreprise adresse à l’Utilisateur (à l’adresse électronique renseignée par ce dernier lors de la création de son Compte) un e-mail de confirmation. Cet e-mail ne nécessite aucune réponse de la part de l’Utilisateur.</p>
<p>Toute création de Compte, quel qu’en soit le mode, nécessite la prise de connaissance et l’acceptation par l’Utilisateur des présentes Conditions Générales.</p>
<p>La création du Compte entraîne l’attribution d’un identifiant à l'Utilisateur lui permettant d'accéder à son Compte grâce à un mot de passe que l’Utilisateur est ensuite tenu de configurer.</p>

<p>Le mot de passe est personnel, confidentiel et incessible. L’Utilisateur s’engage ainsi à ne jamais le communiquer à des tiers. Afin de protéger au maximum la sécurité des Comptes des Utilisateurs de la Plateforme <em>Mes ateliers DIY</em>, l’Utilisateur doit veiller à ne pas réutiliser le même mot de passe que celui associé à d’autres comptes lui permettant d’accéder à des services tiers fournis par des sociétés tierces.</p>

<p>L’Utilisateur s’engage à signaler à l’Entreprise, à l’adresse électronique suivante : <a href="mailto:hello@mesateliersdiy.fr">hello@mesateliersdiy.fr</a> et dans les plus brefs délais, toute utilisation frauduleuse de son Compte personnel ou toute perte, vol ou divulgation de son mot de passe.</p>

<p>Le mot de passe est modifiable via la Plateforme <em>Mes ateliers DIY</em> par l’Utilisateur dans la rubrique « Mon profil ».</p>

<p>L’Entreprise se réserve en tout état de cause la possibilité de refuser une demande d'inscription aux services de la Plateforme <em>Mes ateliers DIY</em> en cas de non-respect par l'Utilisateur des dispositions des présentes Conditions Générales.</p>

<p>L’Utilisateur peut à tout moment et de manière discrétionnaire, solliciter la fermeture de son Compte auprès de la Plateforme <em>Mes ateliers DIY</em>. La demande peut être faite à l’adresse suivante : <a href="mailto:hello@mesateliersdiy.fr">hello@mesateliersdiy.fr</a>.</p>

<p><em>Mes ateliers DIY</em> s’engage à fermer définitivement le Compte de l’Utilisateur et ce, sans délai, à compter de la réception de la demande.</p>

<p><em>Mes ateliers DIY</em> se réverse le droit de supprimer le Compte personnel de l’Utilisateur dans l’hypothèse où ce dernier ne respecte pas les présentes Conditions Générales et ce notamment en cas de :</p>
<p>	<ul style="font-size:.875em; font-weight: 500;">
<li>non-respect des droits de propriété intellectuelle de  <em>Mes ateliers DIY</em> ;</li>
<li>contournement ou tentative de contournement des mesures techniques de protection mises en place par  <em>Mes ateliers DIY</em> ;</li>
<li>fourniture de fausses informations lors de la création du Compte ;</li>
<li>tout agissement contraire aux intérêts commerciaux de  <em>Mes ateliers DIY</em>.</li></ul></p>

<h4>4.Utilisation de la plateforme</h4>

    <dd><h4>4.1 Mineurs</h4></dd>
<p>L’utilisation de la Plateforme <em>Mes ateliers DIY</em> est réservée aux personnes physiques âgées de 18 ans ou plus. Toute inscription sur la Plateforme <em>Mes ateliers DIY</em> par une personne mineure est strictement interdite. En accédant, utilisant ou vous inscrivant sur la Plateforme, vous déclarez et garantissez avoir 18 ans ou plus. Un Utilisateur majeur peut réserver un Atelier pour un mineur. Dans un tel cas, le mineur devra être accompagné d’une personne disposant de l’autorité parentale lors de la tenue de l’Atelier, ou obtenir au préalable une autorisation écrite d’une personne détenant l’autorité parentale l’autorisant à participer à l’Atelier. Cette autorisation écrite devra être remise au Créateur.</p>

		<dd><h4>4.2 Réservation d’un atelier</h4></dd>
<p>L’Utilisateur peut effectuer la réservation des Ateliers directement sur la Plateforme <em>Mes ateliers DIY</em>. </p>
<p>Le processus de réservation classique comporte, notamment, les étapes suivantes :</p>

<ul><li>l’Utilisateur sélectionne sur la Plateforme Mes ateliers DIY un Atelier en lisant attentivement la description de la prestation couverte par ce dernier et les conditions spécifiques qui s’y rapportent ;</li>
<li>l’Utilisateur choisit la date de l’Atelier dans la limite des dates disponibles ;</li>
<li>l’Utilisateur précise le nombre de participants  et clique sur “Réserver”;</li>
<li>L'Utilisateur contrôle sa commande dans le panier et valide sa commande;</li>
<li>l’Utilisateur se connecte à son compte avec son adresse e-mail et son mot de passe ou crée un compte sur la plateforme dans les conditions prévues à l’article 3.</li>
<li>l’Utilisateur définit une adresse de facturation, et un numéro de téléphone de contact ; il peut visualiser le récapitulatif de la commande avant la validation de celle-ci. </li>
<li>l’Utilisateur procède ensuite au paiement dans les conditions décrites à l’article 8 des présentes Conditions Générales ; suite à la validation de la commande, l’Utilisateur reçoit, sous 72 heures, un e-mail de confirmation de sa commande et comprenant l’ensemble des informations relatives à celle-ci. Il recevra ensuite un email 3 jours avant son atelier afin de lui rappeler sa réservation.</li></ul>

	
	<p>L’Utilisateur peut faire une réservation « de dernière minute » (soit 48 heures avant la date de prévue pour la tenue de l’Atelier) en envoyant une demande de réservation à l’adresse <a href="mailto:hello@mesateliersdiy.fr">hello@mesateliersdiy.fr</a>. La demande doit préciser l’intitulé de l’Atelier auquel il souhaite participer, le lieu, la date, le nombre de participants et les coordonnées de l’Utilisateur. <em>Mes ateliers DIY</em> s’engage à contacter l’Utilisateur dans les meilleurs délais afin de lui notifier la possibilité ou non de réserver l’Atelier.</p>

		<dd><h4>4.3 Le déroulement d’un Atelier</h4></dd>
<p>L’Utilisateur s’engage à faire preuve de ponctualité. Un retard de quinze (15) minutes sera toléré. Le Créateur a le droit de refuser la participation de l’Utilisateur à l’Atelier pour cause de retard excessif. Dans une telle hypothèse, ni le Créateur, ni <em>Mes ateliers DIY</em>, ne peuvent être tenus responsables et l’Utilisateur ne pourra pas demander un remboursement ou un dédommagement.</p>

<p>Lors de la tenue d’un Atelier, l’Utilisateur s’engage à adopter une attitude respectueuse vis-à-vis du Créateur et des autres participants.</p>

<p>L’Utilisateur doit respecter toutes les mesures de sécurité et d’hygiène imposée par le Créateur et s’efforcer de mettre en œuvre les différentes directives nécessaires au bon déroulement de l’Atelier. Cette obligation englobe le devoir de prévenir le Créateur en cas de problème de santé qui pourrait compromettre le bon déroulement de l’Atelier. Tout manquement à cette obligation de sécurité autorisera le Créateur à exclure l’Utilisateur de l’Atelier. Dans cette hypothèse, l’Utilisateur ne sera pas en mesure de solliciter, pour quelque motif que ce soit, un remboursement ou un dédommagement. De plus, <em>Mes ateliers DIY</em> n’est pas responsable en cas de tout dommage résultant d’un manquement par l’Utilisateur à son obligation de sécurité.</p>

<p>Il est rappelé que les Utilisateurs et les Créateurs agissent sous leur seule et entière responsabilité. L’Entreprise propose un service d’intermédiation et ne contrôle en aucune façon la qualité, la véracité et les risques inhérents aux Ateliers proposés. À ce titre, le mauvais déroulement de l’Atelier ne saurait entraîner de responsabilité imputable à l’Entreprise, sur quelque fondement que ce soit.</p>

		<dd><h4>4.4 Demandes spéciales et privatisation</h4></dd>
<p>Les Utilisateurs qui souhaiteraient pouvoir participer à un autre Atelier que ceux proposés sur la Plateforme <em>Mes ateliers DIY</em> (en termes de nature, date, lieu…) sont invités à contacter l’Entreprise à l’adresse <a href="mailto:hello@mesateliersdiy.fr">hello@mesateliersdiy.fr</a>. Leur demande sera étudiée dans les meilleurs délais et, le cas échéant, un devis pourra leur être proposé.</p>

<dd><h4>4.5 Notations et commentaires</h4></dd>
<p>À l’issue de l’Atelier, l’Entreprise encourage les Utilisateurs à noter et à commenter la prestation réalisée. L’Entreprise invite les Utilisateurs à faire preuve d’objectivité en évitant tout propos insultant et diffamatoire.</p>

<p>En cas de propos excessifs, l’Entreprise se réserve le droit :</p>

<ul style="font-size:.875em; font-weight: 500;"><li>de ne pas publier ou de supprimer tout commentaire jugé contraire aux présentes Conditions Générales ;</li>
<li>de supprimer le Compte de l’Utilisateur dans les conditions prévues à l’article 3 des présentes Conditions Générales.</li></ul>

<p>Les Utilisateurs ne sont pas autorisés à laisser un avis sur un Atelier auquel ils n’ont pas participé.</p>

<h4>5. Annulation</h4>

<p>Toute réservation est ferme et définitive. L’Utilisateur ne percevra aucun remboursement s’il ne participe pas à l’Atelier réservé. Dans le cas où l’Utilisateur souhaite participer à l’Atelier à une autre date que celle qui a été réservée, il est conseillé à l’Utilisateur de prendre contact avec l’Entreprise à l’adresse <a href="mailto:hello@mesateliersdiy.fr">hello@mesateliersdiy.fr</a> pour que soit étudiée la possibilité de modifier la date de sa participation à l’Atelier. L’Entreprise ne garantit pas qu’une autre date pourra être proposée à l’Utilisateur.</p>

<p>La réalisation de certains Ateliers est soumise à des conditions précisées entre l’Entreprise et le Créateur pour chaque atelier et rappelée sur la fiche descriptive de chaque atelier. Il peut s’agir par exemple d’un nombre de personnes minimum pour assurer la réalisation de l’Atelier, ou encore d’une météo convenable pour l’activité (souvent le cas lorsqu’il s’agit d’activités d’extérieures). <br>
Si les conditions ne sont pas réunies, l’Entreprise ou le Créateur peut annuler l’Atelier, au plus tard 48 heures avant la date prévue pour sa réalisation si cela est possible, et en alertera l’Utilisateur par email et/ou par téléphone. Les Utilisateurs se verront proposés une nouvelle date d’atelier, un avoir ou peuvent demander d’être remboursés de l’intégralité de leur billet.</p>

<p>En cas d’annulation de l’Atelier par le créateur pour toute autre raison que celle citée ci-dessus, les utilisateurs seront informés et se verront remboursés de l’intégralité du prix de leur billet. </p>

<h4>6. Responsabilité</h4>

<p>Il est rappelé que les Utilisateurs et les Créateurs agissent sous leur seule et entière responsabilité. <em>Mes ateliers DIY</em> propose un service d’intermédiation et ne contrôle en aucune façon la qualité, la véracité et les risques inhérents aux Ateliers proposés. À ce titre, le mauvais déroulement de l’Atelier ne saurait entraîner de responsabilité imputable à l’Entreprise, sur quelque fondement que ce soit.</p>

<p>L’Entreprise ne prend pas part à la fourniture des Ateliers. Les engagements se forment directement entre le Créateur et l’Utilisateur, ils agissent sous leur seule et entière responsabilité, notamment conformément aux dispositions du code civil relatives au droit des obligations et à la responsabilité civile contractuelle (article 1101 et suivants du Code Civil) ainsi qu’au Code de la consommation.</p>

<p><em>Mes ateliers DIY</em> n’assume en conséquence aucune responsabilité en relation avec les pourparlers, la conclusion puis l’exécution des contrats pour la tenue des Ateliers et ne fournit aucune garantie quant à la qualité et au bon déroulement des Ateliers délivrés par les Créateurs. </p>

<p><em>Mes ateliers DIY</em> n’exerce notamment pas de contrôle de manière systématique et n’assume aucune responsabilité en rapport avec :</p>

<p>	<ul style="font-size:.875em; font-weight: 500;">
<li>la qualité, l'exactitude des données présentées en ligne fournies par le Créateur, la conformité de l’offre à la loi ou l’adéquation des Ateliers tenus par les Créateurs ;</li>
<li>la fiabilité et l’exactitude de toute information aux Ateliers ou à l’identification des Créateurs ;</li>
<li>la qualification des Créateurs</li></ul></p>

<p>En cas de différend opposant un Utilisateur et un Créateur à propos d’un Atelier, l’Utilisateur ou le Créateur concerné est invité à contacter l’Entreprise via l’adresse e-mail de contact suivante : <a href="mailto:hello@mesateliersdiy.fr">hello@mesateliersdiy.fr</a> pour lui signaler l’existence d’un différend. Cependant, la résolution de ce différend relèvera de la seule responsabilité de l’Utilisateur et du Créateur concernés. </p>

<p>L’Entreprise n’assume aucune autre obligation que celles relevant de son rôle d’intermédiaire et opérateur de Plateforme Mes ateliers DIY en ligne conformément à l’article L.111-7 du Code de la consommation et son devoir d’information, tel que précisé à l’article D.111-8 du Code de la consommation. L’Entreprise ne saurait garantir l'exactitude, la complétude, et l'actualité des informations qui y sont diffusées.</p>
 

<p>La Plateforme <em>Mes ateliers DIY</em>  est en principe accessible 7 jours sur 7 et 24 heures sur 24. Néanmoins, l’accès à la Platefome <em>Mes ateliers DIY</em>  pourra être suspendu dans les conditions précisées à l’article 7. sans engager aucune responsabilité de l’Entreprise.</p>


<h4>7. Accessibilité & Sécurité</h4>

<p>L’Entreprise fait ses meilleurs efforts pour fournir des services performants à l’Utilisateur. Elle s’engage à mettre en œuvre des moyens adaptés pour maintenir les services dans des conditions opérationnelles optimales et permet à l’Utilisateur d'utiliser les moyens de communication mis à sa disposition dans les meilleures conditions possibles. Néanmoins, l’Entreprise ne saurait assurer une accessibilité ou une disponibilité absolue de la Plateforme <em>Mes ateliers DIY</em>.</p>

<p>Par conséquent, l’Entreprise ne pourra être tenue responsable en cas d’indisponibilité de la Plateforme <em>Mes ateliers DIY</em>, pour quelque cause que ce soit. L’Entreprise n’est également pas responsable du bon fonctionnement de l’équipement informatique de l’Utilisateur ainsi que de son accès à internet.</p>

<p>L’Entreprise se réserve le droit, sans préavis, ni indemnité, de fermer temporairement la Plateforme <em>Mes ateliers DIY</em> notamment pour effectuer une mise à jour, des opérations de maintenance, des modifications ou changements sur les méthodes opérationnelles et fonctionnalités sans que cette liste soit limitative.</p>

<p>L’Entreprise n’est pas responsable des dommages de toute nature qui peuvent résulter de ces changements et /ou d’une indisponibilité temporaire de la Plateforme <em>Mes ateliers DIY</em> ou des services qui y sont associés.</p>

<p>La Plateforme <em>Mes ateliers DIY</em>  est un système de traitement automatisé de données. Tout accès frauduleux à ce dernier est interdit et sanctionné pénalement. L’Entreprise fait ses meilleurs efforts, conformément aux règles de l’art, pour sécuriser la Plateforme <em>Mes ateliers DIY</em> . Eu égard à la complexité de l’internet, il ne saurait cependant assurer une sécurité absolue.</p>

<h4>8. Conditions financières</h4>

<p>Le prix est affiché en euros (€) toutes taxes comprises et est valable pour une personne, sauf mention contraire. Le prix d’un Atelier, affiché sur la Plateforme, est celui en vigueur au jour de la commande. Néanmoins, les prix affichés ne prennent pas compte les éventuels taux de change ou frais liés à l’utilisation d’une carte bancaire émise dans un pays tiers. De plus, l’Entreprise se réserve le droit de modifier ses prix à tout moment mais les Ateliers resteront facturés sur la base des tarifs en vigueur au moment de l’enregistrement de la réservation.</p>

<p>Le paiement de la commande sera effectué par carte bancaire (Visa, Mastercard, American express).</p>

<p>Le prix d’un Atelier se compose de deux éléments :</p>

<p>	<ul style="font-size:.875em; font-weight: 500;"><li>la rémunération de du Créateur en contrepartie de l’Atelier réalisé ;</li>
<li>la commission de l’Entreprise en contrepartie de la mise en relation.</li></ul></p>


<p>La commission sert à couvrir les frais relatifs à la Plateforme <em>Mes ateliers DIY</em> et à rémunérer l’Entreprise.</p>

<p>L’Entreprise se réserve le droit de suspendre tout traitement de la réservation en cas de refus d’autorisation de paiement de la part de la banque de l’Utilisateur ou pour tout autre motif légitime, plus particulièrement dans le cas de l’emploi d’un moyen de paiement frauduleux. L’Entreprise se réserve le droit de refuser la réservation d’un Utilisateur avec lequel un litige de paiement serait en cours.</p>

<p>Un reçu peut-être adressé à l’Utilisateur à la demande, à la réception du paiement en ligne de l’Atelier.</p>

<p>La sécurité des transactions est assurée par la société MANGOPAY SA, société anonyme de droit luxembourgeois, au capital de 2.000.000 euros, dont le siège social est situé 59 Boulevard Royal, L-2449 Luxembourg et immatriculée au Registre du commerce et des sociétés luxembourgeois sous le numéro B173459, habilitée à exercer son activité en France en libre établissement, en qualité d’établissement de monnaie électronique agréé par la Commission de Surveillance du Secteur Financier, 110 route d’Arlon L-1150 Luxembourg, http://www.cssf.lu/</p>

<p>MANGOPAY SA est une filiale du LEETCHI GROUP détenu majoritairement par le Crédit mutuel Arkéa.</p>

<p>En conséquence, toute réclamation ou contestation soulevée en relation avec les services fournis par Mangopay doit leur être adressée directement.</p>

<p>En adhérant aux présentes CGUV, l’Utilisateur accepte les CGU MANGOPAY accessibles ci-après: <a href="https://www.mangopay.com/terms/PSP/PSP_MANGOPAY_FR.pdf" target="_blank"> https://www.mangopay.com/terms/PSP/PSP_MANGOPAY_FR.pdf</a></p>

<p>En cas de contradiction entre les conditions générales de MangoPay et les présentes
conditions générales, ces dernières prévalent.</p>


<h4>Cartes cadeaux</h4>

<p>La carte cadeau peut se présenter sous deux formes :</p>

<ul><li>sous la forme d’un crédit : l’Utilisateur choisit un montant à offrir au Bénéficiaire et permettant à ce dernier de choisir librement l’Atelier auquel il souhaite participer dans la limite du crédit disponible. Le crédit offert par l’Utilisateur au Bénéficiaire ne peut être inférieur à vingt (20) euros. Le crédit peut être utilisé en plusieurs fois ou être complété par le Bénéficiaire pour bénéficier d’un Atelier à un coût plus élevé.</li>
 
<li>sous la forme d’un Atelier : l’Utilisateur choisit parmi les Ateliers proposés sur la Plateforme Mes ateliers DIY  l’Atelier à offrir. Le bon cadeau ne peut alors être utilisé par le Bénéficiaire que pour participer à l’Atelier choisi par l’Utilisateur.</li>

<p>L’Utilisateur qui offre un bon cadeau recevra un bon numérique. </p>

<p>Les bons cadeaux ne peuvent être utilisés qu’auprès de la Plateforme <em>Mes ateliers DIY</em>. Pour utiliser un bon cadeau, le Bénéficiaire devra suivre le processus normal d’une commande et entrer le code promotionnel figurant sur le bon cadeau sur la page de son panier. </p>

<p>Les bons cadeaux sont valables pendant une durée d’1 an à compter de leur date d’achat.</p> 

<p>Dans le cas de la mise en ligne d’Ateliers et vente de bons cadeaux sans dates spécifiques, le Créateur s’engage à proposer au moins une date dans les 3 mois suivant la mise en ligne de son Atelier et dans le secteur géographique initialement prévu. Dans le cas où l’Atelier ne sera pas reconduit une seconde fois et que l’Utilisateur n’a pas pu utiliser son bon cadeau à la nouvelle date proposée pour quelque raison que ce soit, le Créateur s’engage à lui proposer une place dans un autre Atelier similaire ou dans le cas échéant l’Entreprise proposera à l’Utilisateur un avoir valable sur tout le site du montant de la carte cadeau initiale.</p>

<p>Les bons cadeaux ne sont pas remboursables. </p>

<p>La réservation d’une place d’atelier génère un billet qui est envoyé par mail à l'utilisateur. Ce billet n’est pas nominatif et peut être offert. </p>

<h4>10. Droit de rétractation</h4>

<p>Conformément aux dispositions du Code de la consommation, l’Utilisateur bénéficie d’un délai de rétractation de quatorze (14) jours francs à compter du jour de sa commande, sans avoir à justifier de motifs ni à supporter de pénalités.</p>

<p>L’Utilisateur peut exercer son droit de rétractation en complétant le formulaire de rétractation suivant et en le renvoyant, dûment rempli et signé, par email à à l’adresse <a href="mailto:hello@mesateliersdiy.fr">hello@mesateliersdiy.fr</a> faisant part à l’Entreprise de sa décision claire et sans ambiguïté de se rétracter de son achat en ligne.</p>

<p>À l'attention de <em>Mes ateliers DIY</em>, 17000 La Rochelle. <a href="mailto:hello@mesateliersdiy.fr">hello@mesateliersdiy.fr</a></p>

<p>Je vous notifie par la présente ma rétractation du contrat portant pour la prestation de services suivante :_____________________________</p>

<p>Commandé le : _____________________________</p>

<p>Nom du consommateur :_____________________________</p>

<p>Adresse du consommateur :_____________________________</p>

<p>Signature du consommateur : _____________________________</p>

<p>Date :_____________________________</p>


<p>Une fois la demande de rétractation réceptionnée par l’Entreprise, l’Utilisateur recevra un accusé de réception de sa rétractation par courrier électronique.</p>

<p>Toute rétractation effectuée conformément aux conditions du présent article donne lieu à un remboursement de la totalité de la somme versée par l’Utilisateur dans un délai de quatorze (14) jours à compter de la date à laquelle l’Utilisateur aura informé l’Entreprise de sa décision de se rétracter.</p>

<p>Dans l’hypothèse où l’Utilisateur souhaite que l’Atelier ait lieu avant le délai de quatorze (14) jours précité, celui-ci reconnaît qu’il ne pourra user de son droit de rétractation que dans le cadre des dispositions de l’article L.221-25 du code de la consommation.</p>

<h4>11. Protection des données personnelles</h4>

<p>L’Entreprise s’engage à respecter la législation en vigueur relative à la protection de la vie privée eu égard au traitement des données à caractère personnel à savoir la Loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés telle que modifiée et le Règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du traitement des données (ci-après ensemble « la Réglementation applicable »).</p>

<p>L’Entreprise est le responsable des traitements des données personnelles misent en œuvre sur la Plateforme <em>Mes ateliers DIY</em>.</p>

<p>Lors de son inscription et de l’utilisation de la Plateforme, l’Utilisateur fournit directement différentes données à caractère personnel. Ces données peuvent notamment inclure :</p>

<p>	<ul style="font-size:.875em; font-weight: 500;"><li>des données nécessaires pour la création d’un compte Utilisateur tel que le prénom, le nom, l’adresse courriel, le téléphone, le code postal de l’Utilisateur ;</li>
<li>des données nécessaires au paiement des Ateliers.</li></ul></p>

<p>Le responsable du traitement est amené à recueillir les données personnelles telles que détaillées ci-dessus pour des traitements spécifiques :</p>

<p>	<ul style="font-size:.875em; font-weight: 500;"><li>pour la création du Compte de l’Utilisateur ;</li>
<li>pour la mise en relation des Utilisateurs avec les Créateurs ;</li>
<li>pour assurer le suivi de la relation client et le traitement de litiges ;</li>
<li>pour assurer le fonctionnement technique de la Plateforme <em>Mes ateliers DIY</em> ;</li>
<li>pour communiquer avec l’Utilisateur au sujet des Ateliers réservés.</li></ul></p>

<p>Les données collectées ou traitées à l’occasion de l’utilisation de la Plateforme <em>Mes ateliers DIY</em> par l’Utilisateur sont destinées à l’Entreprise, ses sous-traitants et aux Créateurs.</p>

<p>Conformément à la Réglementation applicable, l’Entreprise s’engage à réaliser ses meilleurs efforts en vue de garantir la sécurité des informations personnelles recueillies auprès des Utilisateurs. Plus précisément, l’Entreprise mettra œuvre des mesures techniques et organisationnelles propres à garantir la sécurité et la confidentialité des données collectées et notamment empêcher qu’elles soient déformées, endommagées ou communiquées à des tiers non autorisés.</p>

<p>Les données personnelles sont conservées par l’Entreprise à des fins probatoires ou de réactivation du compte, pendant une durée maximum de trois (3) ans à compter de la résiliation du compte.</p>

<p>La durée maximale de conservation s’applique sauf si une demande d’effacement intervient avant l’expiration de cette durée.</p>

<p>Conformément à la Réglementation applicable, l’Utilisateur bénéficie des droits suivants : un droit d’accès et de rectification de ses données, un droit d’opposition à la collecte et au traitement de ses données, un droit d’effacement de ses données, un droit à la limitation dans la collecte et le traitement de ses données, un droit à la portabilité de ses données ainsi qu’un droit</p>

<p>L’utilisateur a également le droit de communiquer ses directives relatives au traitement de ses données après son décès.</p>

<p>Ces différents droits peuvent être exercés à tout moment en adressant une demande à l’Entreprise à l’adresse <a href="mailto:hello@mesateliersdiy.fr">hello@mesateliersdiy.fr</a>. Un justificatif d’identité peut être demandé par l’Entreprise afin de répondre à la demande. Il est précisé que certaines données peuvent être exclues de ces demandes dans certaines circonstances, notamment si l’Entreprise doit continuer à traiter les données de l’Utilisateur pour servir ses intérêts légitimes ou respecter une obligation légale.</p>

<p>En outre, l’Entreprise est susceptible d’inclure sur la Plateforme <em>Mes ateliers DIY</em> des liens vers des sites internet ou des sources externes. L’Entreprise ne saurait être responsable des pratiques de ces sources externes en matière de collecte et de traitement de données à caractère personnel.</p>

<p>L’Utilisateur dispose d’un droit de réclamation auprès de la Commission Nationale Informatique et Libertés qu’il peut saisir directement aux coordonnées suivantes : CNIL, 3 place de Fontenoy 75007 PARIS.</p>

<h4 id="cookies">12. Cookies</h4>

<p>Les cookies sont de petites quantités d’informations stockées dans des fichiers au sein même du navigateur de votre ordinateur (ainsi que tablette ou smartphone) qui permettent d’enregistrer des informations.</p>

<p>En utilisant la plateforme , vous consentez à l’utilisation des cookies déposés par notre Site.<br>
De manière générale, 4 types de cookies sont susceptibles d’être utilisés par l’Entreprise :</p>

<p>	<ul style="font-size:.875em; font-weight: 500;"><li>Les cookies de fonctionnement : ces cookies sont indispensables à votre navigation et vous permettent d'utiliser les fonctionnalités principales du site comme la gestion de votre panier ou le maintien de votre identification tout au long de votre navigation. Ils reposent sur notre intérêt légitime à assurer le bon fonctionnement de nos services. En cas de désactivation, la navigation sur le site sera dégradée.</li>
<li>Les cookies de mesures d’audience : ces cookies nous permettent de connaître l'utilisation et les performances de nos sites et d'en améliorer le fonctionnement. Ils portent par exemple sur les pages les plus consultées, les recherches faites par les internautes etc</li>
<li>Les cookies de personnalisation : ces cookies vous permettent de visiter le site de manière personnalisée, selon vos anciennes visites, vos achats, etc. Vous trouverez de manière plus rapide les offres qui vous correspondent le mieux.</li>
<li>Les cookies publicitaires  : ces cookies sont utilisés pour vous proposer des publicités adaptées à vos centres d’intérêts, sur nos sites mais aussi d’autres sites. Ils sont également utilisés pour vous adresser de la prospection commerciale personnalisée par voie électronique à la condition que vous ayez par ailleurs donné votre consentement à la réception de cette prospection.</li></ul></p>

<p>Ces cookies collectent des informations sur vos habitudes de navigation, enregistrent votre visite sur notre site, les pages que vous avez visitées et les liens que vous avez suivis ainsi que votre navigation en dehors de notre site.<br>
Ces cookies publicitaires sont notamment liés à l’utilisation des boutons de partage des réseaux sociaux : nous pouvons vous permettre de partager des informations relatives à nos Services sur les sites Internet de réseaux sociaux (Facebook, Twitter, Pinterest etc.) de nos Partenaires, notamment par l’intermédiaire des boutons de partage. Du fait de l'utilisation des Réseaux Sociaux, certains Cookies peuvent être émis depuis les supports électroniques de ces Réseaux Sociaux par d'autres entités que <em>Mes ateliers DIY</em>. L’émission et l'utilisation de Cookies par ces Partenaires sont soumises aux politiques de protection des données personnelles de ces Partenaires que nous vous invitons à consulter.</p>

<p>Vous avez le choix de configurer votre navigateur pour accepter tous les cookies, rejeter tous les cookies, vous informer quand un cookie est émis, sa durée de validité et son contenu, ainsi que vous permettre de refuser son enregistrement dans votre terminal, et supprimer vos cookies périodiquement.</p>

<p>Vous pouvez paramétrer votre navigateur Internet pour désactiver les cookies. Notez toutefois que si vous désactivez les cookies, votre nom d’utilisateur ainsi que votre mot de passe ne seront plus sauvegardés sur aucun site web. Pour plus d’informations relatives aux méthodes vous permettant de supprimer et de contrôler les cookies stockés sur votre ordinateur, consultez le site suivant : <a href="http://www.allaboutcookies.org/fr/." target="_blank"> www.allaboutcookies.org/fr/</a>. </p>


<h4>13. Propriété intellectuelle</h4>

<p>La Plateforme <em>Mes ateliers DIY</em>, sa structure générale, ses contenus, et notamment les photos et vidéos des Ateliers et la documentation les concernant, sont protégés par des droits de propriété intellectuelle (y compris notamment par tous droits d'auteur, droits sur les brevets, les marques, les dessins et modèles, les bases de données, les noms de domaines et tout autre droit de propriété intellectuelle existant ou futur, nationaux et/ou internationaux) et sont la propriété exclusive de l’Entreprise.</p>

<p>Les présentes Conditions Générales ne confèrent à l’Utilisateur aucun droit de propriété sur la Plateforme <em>Mes ateliers DIY</em>, son contenu, et notamment les photos et vidéos des Ateliers et sur la documentation transmise dans le cadre du présent contrat. L’utilisation temporaire de la Plateforme <em>Mes ateliers DIY</em> dans les conditions prévues dans les présentes Conditions Générales ne saurait être analysée comme la cession ou une licence d’un droit quelconque de propriété intellectuelle au bénéfice de l’Utilisateur. Par conséquent, l’Utilisateur s’interdit toute utilisation non autorisée par l’Entreprise des éléments cités ci-avant, et plus largement de tous les éléments protégés, et notamment sur des sites concurrents.</p>


<h4>13. Modification des conditions générales</h4>

<p>L’Entreprise se réserve le droit de réviser les présentes Conditions Générales afin de s’adapter à son environnement technologique et commercial et afin de se conformer à la réglementation en vigueur.</p>

<p>Toute modification des présentes Conditions Générales sera notifiée aux Utilisateurs par une publication sur la Plateforme <em>Mes ateliers DIY</em>.</p>



<h4>14. Droit applicable - litiges - réclamations - médiation</h4>

<p>Toutes les clauses figurant dans les présentes conditions générales de vente, ainsi que toutes les opérations d'achat et de vente qui y sont visées, sont soumises aux règles par le droit français. En cas de litige, les tribunaux français seront seuls compétents. </p>

<p>En cas de réclamation, l’Utilisateur doit s’adresser en priorité au service clientèle de l’Entreprise par courrier électronique à l’adresse <a href="mailto:hello@mesateliersdiy.fr">hello@mesateliersdiy.fr</a>. 
En cas de litige, une solution amiable sera au préalable recherché. Un recours à la médiation pourra être déposé. 
Les parties au contrat restent libres d’accepter ou de refuser le recours à la médiation ainsi que, en cas de recours à la médiation, d’accepter ou de refuser la solution proposée par le médiateur.
</p>
	
  </div>
</section>

<script type="text/javascript">
$('.menu-item-apropos').addClass('current');
</script>