<section class="section-header-content">
	<div class="section-content">
		<h1>Remerciements</h1>
	</div>
</section>

<section class="section-titre section-padding">
	<div class="section-content">
		<header><h2 class="titre-amatic">Merci aux contributeurs de la campagne jadopteunprojet.com ! </h2></header>
	</div>
</section>

<section class="section-standard section-padding">
	<div class="section-content">
		<p>Notre campagne de financement participative sur la plateforme <a href="https://jadopteunprojet.com/decouvrez-les-projets/news/mes-ateliers-diy" target="_blank">jadopteunprojet.com</a> s'est achevée le 30 novembre dernier avec succès ! </p>
		<h3 class="souligne droite">Mille mercis à</h3>
		<p>Alexa Delorme, Alice Westphal Leti, Amelie Brumauld, Amélie Torrès, Ameline Bosson, Angie D'Orlando, Anke Behres Kurz, Anne Predeau, Aurore Grangier, Celine Aurillard, Charlotte Briet, Charlotte Rouet, Claire Poussard, Clément Perron, Cyrielle Duflos, Cyrielle Pairaud, Elfriede Wilkin, Elodie Giovannetti, Fanny Lagarde, Flavie Boursereau, Florian Boulanger, Jen Moret, Jérôme Tissier, Julie Garric, Laetitia Delorme, Linda Peral, Lisa Bouchet, Magali Lugan, Marie Malvaldi, Marine de la Roche Saint André, Marine Lhotellier, Matthieu Rocu & Jerome Gouin, Michael Gautsch, Patricia Gantier, Pierrette Delouche, Selima Guettouche, Térence Blanc, Xavier Cailleau et Yan Jouan.</p>
		<p>Grâce à votre soutien et votre générosité, nous avons pu atteindre l'objectif et plus !! 🎉</p>
		<p><center><%= image_tag "thanks.gif", class: "visuel",  width: "500px" %></center></p>
	</div>
</section>
