<section class="section-header-content">
  <div class="section-content">
    <h1>Mon panier</h1>
  </div>
</section>

<section class="section-titre section-padding">
  <div class="section-content">
    <header>
      <h4>Retrouvez-ici tous les ateliers que vous êtes prêt à vivre ou à offrir !</h4>
    </header>
  </div>
</section>

<section class="section-recap-commande section-padding">
  <div id="show-cart" class="section-content">
    <%= render "cart" %>
  </div>
</section>
